# Dev local (services exposes sur localhost)
VITE_API_USERS_URL=http://localhost:8000
VITE_API_BOOKS_URL=http://localhost:8001
VITE_API_LOANS_URL=http://localhost:8003
VITE_API_RECO_URL=http://localhost:8004

# Dev Docker (navigateur sur la machine hote, APIs mappees sur localhost)
# VITE_API_USERS_URL=http://localhost:8000
# VITE_API_BOOKS_URL=http://localhost:8001
# VITE_API_LOANS_URL=http://localhost:8003
# VITE_API_RECO_URL=http://localhost:8004
