# PostgreSQL
POSTGRES_DB=library_db
POSTGRES_USER=dit_user
POSTGRES_PASSWORD=dit_password
DB_HOST=db

# Ports exposes sur l'hote (docker-compose)
USERS_PORT=8000
BOOKS_PORT=8001
LOANS_PORT=8003
RECO_PORT=8004
FRONTEND_PORT=5173

# Export emprunts (service emprunts)
LOANS_EXPORT_PATH=/data/loans.csv

# Modele ML (service reco)
MODEL_PATH=/models/model.pkl
BOOKS_SERVICE_URL=http://livres:8000
